



<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Elizabeth</p>
  </div>
</div>
</body>
</html> 


<!-- </body>

<footer>
<p>Made with ❤️ by Elizabeth</p>
</footer>

</html> -->
