<%- include("partials/header"); -%> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="css/styles.css"></script>
</head>
<body class="home-body">

    <div class="home-paragraph">
      <div class="home-FirstContainer">
        <div class="home-BlockText">
          <p><strong>Elizabeth workshop</strong></p> 
       
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
               esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
               in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
       
      </div>
        
       
    </div>
    
    <div class="home-SecondContainer">
      <!-- home-CardContainer -->
      <div class="row homeCenter-Cards">
        <div class="card col-6 col-lg-4 col-xl-4" style="width: 18rem;">
          <img class="card-img-top" src="images/cutecat.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Keychains    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></p>
          </div>
        </div>
        <div class="card col-6 col-lg-4 col-xl-4" style="width: 18rem;">
          <img class="card-img-top" src="images/cutecat.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Earings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></p>
          </div>
        </div>
        <div class="card col-6 col-lg-4 col-xl-4" style="width: 18rem;">
          <img class="card-img-top" src="images/cutecat.jpg" alt="Card image cap">
          <div class="card-body">
            <button class="button-BlueGlow"> <p class="card-text">Little Stalkers <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></p></button>
           
            <!-- <p class="card-text">Little Stalkers <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></p> -->
          </div>
        </div>
        </div>
        <div class="row homeCenter-Cards">
          <div class="card col-6 col-lg-4 col-xl-4" style="width: 18rem;">
            <img class="card-img-top" src="images/cutecat.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Necklaces <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg></p>
            </div>
          </div>
          <div class="card col-6 col-lg-4 col-xl-4" style="width: 18rem;">
            <img class="card-img-top" src="images/cutecat.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Phone Charms <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg></p>
            </div>
          </div>
          </div>
      </div>
     
    </div>
    
</body>
</html>
<%- include("partials/footer"); -%> 